<div style="background-color: lightgray; padding: 10px">
  <form>
    <div class="form-group">
      <input type="text" class="form-control" id="streetName" name="streetName" [(ngModel)]="model.street"
             placeholder="Enter street name">
    </div>
    
    <div class="form-group">
      <input type="text" class="form-control" id="cityName" name="cityName" [(ngModel)]="model.city"
             placeholder="Enter city name">
    </div>
  </form>
</div>

