<div style="text-align:center; padding: 20px">
  <h1>
    {{title}}
  </h1>
  <div style="background-color: white; max-width: 60%">
    <form>
      <b>Main Form</b>
      <div class="form-group">
        <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="myModel.first"
               placeholder="Enter first name">
      </div>
  
      <div class="form-group">
        <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="myModel.last"
               placeholder="Enter last name">
      </div>
  
      <div class="form-group">
        <input type="text" class="form-control" id="streetName" name="streetName" [(ngModel)]="myModel.street"
               placeholder="Enter street name">
      </div>
  
      <div class="form-group">
        <input type="text" class="form-control" id="cityName" name="cityName" [(ngModel)]="myModel.city"
               placeholder="Enter city name">
      </div>
    </form>
  </div>
  
  
  <app-custom-form [model]="myModel"></app-custom-form>
  
  <div>
    <b>Raw Output: </b>
    {{myModel.first}}
    {{myModel.last}},
    {{myModel.street}},
    {{myModel.city}}
  </div>
  
  
</div>


