<div style="background-color: darkgray; padding: 10px">
  <form>
    <b>1st Child Form</b>
    <div class="form-group">
      <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="model.first"
             placeholder="Enter first name">
    </div>
    
    <div class="form-group">
      <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="model.last"
             placeholder="Enter last name">
    </div>
  </form>
  <br>
  <b>2nd Child Form (nested)</b>
  <app-custom-nested-form [model]="model"></app-custom-nested-form>
</div>



